<h1>Movie #<%= @movie.id %> details</h1>
<a href="/movies">Go back</a>

<p>Title</p>
<p><%= @movie.title %> </p>

<p>Year</p>
<p><%= @movie.year %></p>

<p>Duration</p>
<p><%= @movie.duration %> </p>

<p>Description</p>
<p><%= @movie.description %></p>

<p>Image</p>
<% if @movie.image.present? %>
  <p><%= image_tag(@movie.image, width: 250) %></p>
<% else %>
  <p><em>No poster available</em></p>
<% end %>

<p>Director</p>
<p><%= @movie.director.name%></p>
