<h1>Director #<%= @director.id %> details</h1>
<a href="/directors">Go back</a>

<p>Name</p>
<p><%= @director.name %></p>

<p>Dob</p>
<p><%= @director.dob.strftime("%Y-%m-%e") if @director.dob %></p>

<p>Bio</p>
<p><%= @director.bio %></p>

<p>Image</p>
<p><% if @director.image.present? %>
    <p><%= image_tag(@director.image, width: 250) %></p>
  <% else %>
    <p><em>No poster available</em></p>
  <% end %></p>

<h2> Filmography </h2>

<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Title</th>
      <th>Year</th>
      <th>Director</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @director.movies.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><% if movie.image.present? %>
            <p><%= image_tag(movie.image, width: 250) %></p>
          <% else %>
            <p><em>No poster available</em></p>
          <% end %></td>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= @director.name %></td>
        <td><%= link_to "Show details", "/movies/#{movie.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
